# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# Excel files
*.xlsx

# JSON files
processed_articles.json

# Logs
*.log